attrs==22.*
backoff==2.*
bleach==4.*
certifi==2022.*
charset-normalizer==2.*
colorama==0.4.*
deprecation==2.*
docutils==0.18.*
exceptiongroup==1.*
idna==3.*
importlib-metadata==4.*
iniconfig==1.*
keyring==23.*
mercurial==6.*
mock==4.*
monotonic==1.*
packaging==21.*
pip==21.*
pkginfo==1.*
pluggy==1.*
Pygments==2.*
pyparsing==3.*
pytest==7.*
python-dateutil==2.*
python-dotenv==0.*
readme-renderer==32.*
requests==2.*
requests-toolbelt==0.*
rfc3986==2.*
setuptools==58.*
six==1.*
tomli==2.*
tqdm==4.*
twine==3.*
urllib3==1.*
webencodings==0.5.*
wheel==0.38.*
zipp==3.*
